/* Style for the whole page*/
body {
    background-image: linear-gradient(rgb(226, 185, 247), rgb(249, 249, 249));
    position: relative;
    z-index: 0;
}

/* Nav bar heading*/
.heading {
    text-transform: uppercase;
    font-size:30px;
    text-align: center;
    padding-top: 20px;
}

/* Nav bar */
.navbar{
    transition: top 0.3s;
    background-color: rgba(245, 245, 227, 0.847);
    box-shadow: rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px 0 rgb(0,0,0,0.2);
}

.navbar-item:hover {
    color: black;
    text-decoration: underline;
}

/* Hamburger Menu */
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color: #333;
    margin: 6px 15px;
    transition: 0.4s;
    text-align: center;
}

/* Photo image sizing */
.gradimage {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

.planephoto {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

.golfphoto {
    width: 100%;
    height: 100%;
    margin-left: auto;
    border-radius: 5%;
    margin-right: auto;
}

.homephoto {
    width: 90%;
    height: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

/* This is for the overlays in the education section */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(245, 245, 227);
}

.column:hover .overlay {
    opacity: 1;
}

.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (max-width: 1408px) {
    .text {
        color: black;
        font-size: 15px;
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

/* Box for the education and home section */
.box {
    padding: 0px;
    width: 50%;
    box-shadow:rgb(52, 51, 51);
}

/* Footer */
#main {
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    background-image: linear-gradient(rgb(249, 249, 249), rgb(226, 185, 247));
    /*background-image: linear-gradient(rgb(226, 185, 247), rgb(249, 249, 249));*/
}
.footer {
    background-color: rgba(245, 245, 227, 0.847);
    height: 200px;
    position: relative;
    z-index: -2;
}

.footer-item {
    color: rgb(52, 51, 51);
}

.footer-item:hover {
    text-decoration: underline;
}

.content {
    width: 960px;
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-left: -480px;
    z-index: -1;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* Fade text headings */
.h1 {
    padding-bottom: 60px;
    max-width: 40ch;
    text-align: center;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5,1,0.89,1);
}
@keyframes scale {
    100% {
        transform: scale(1);
    }
}
span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}
span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

/* Banner image*/
.wrapper {
    width:100%;
    background-position: center;
}

/* Box centering */
.box {
    align-items: center;
    margin: auto;
    width: 100%;
}

/* About page paragraph spacing */
.aboutcontent {
    text-align: center;
    padding: 0.5em;
    margin-left: 10%;
    margin-right: 10%;
}

/* Line separation */
hr {
    height: 2px;
    width: 50%;
    margin:auto;
    border-width: 0;
    background-color: black;
}

/* Grid and icons for home page */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: gray;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.grid-item {
    background-color: whitesmoke;
    border: 1px;
    padding: 10px;
    font-size: 50px;
    text-align: center;
}

/* Changing About Page Layout for Mobile */
@media (max-width: 768px) {
    #aboutcontainerswap {
        display: flex;
        flex-flow: column-reverse;
    }
}

/* Changing text-alignment for desktop */
@media (min-width: 769px) {
    #p2 {
        text-align: right;
    }
}
